# conda run -n py39 which python
# PIPENV_NO_INHERIT=True  pipenv --python=$(shell conda run -n py39 which python) --no-site-packages
# export PATH="$PWD/.venv/bin:$PATH"  

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible = "~=7.1.0"
molecule = "~=4.0.4"
molecule-vagrant = "~=1.0.0"
molecule-digitalocean = "~=0.1"
pytest-molecule = "~=2.0.0"
molecule-ec2 = "~=0.4"
flake8 = "~=6.0.0"
molecule-docker = "~=2.1.0"

[requires]
python_version = "3.9"
